.transaction-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.transaction-form input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transaction-form button {
  padding: 8px 16px;
  background-color: #775af4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color: #45a049;
}
