form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

input,
button {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #775af4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
